# SPDX-FileCopyrightText: Andrew Hayzen <ahayzen@gmail.com>
#
# SPDX-License-Identifier: MPL-2.0

# ahayzen.com site
http://ahayzen.com {
    # Flathub stats data
    handle_path /direct/* {
        root * /srv/flathub_stats
        file_server
    }

    # Wagtail media files
    handle_path /media/* {
        root * /srv/wagtail-ahayzen/media/
        file_server
    }

    # Wagtail static files
    handle_path /static/* {
        root * /srv/wagtail-ahayzen/static/
        file_server
    }

    # Anything else goes to wagtail
    handle {
        reverse_proxy wagtail-ahayzen:8080
    }
}

# Actual proxy
http://actual.ahayzen.com {
    reverse_proxy rathole:8506
}

# Bitwarden proxy
http://bitwarden.ahayzen.com {
    reverse_proxy rathole:8080
}

# # Video proxy
# video.ahayzen.com {
#     reverse_proxy localhost:9888
# }

# yumekasaito.com site
http://yumekasaito.com {
    # Wagtail media files
    handle_path /media/* {
        root * /srv/wagtail-yumekasaito/media/
        file_server
    }

    # Wagtail static files
    handle_path /static/* {
        root * /srv/wagtail-yumekasaito/static/
        file_server
    }

    # Anything else goes to wagtail
    handle {
        reverse_proxy wagtail-yumekasaito:8080
    }
}
