# SPDX-FileCopyrightText: Andrew Hayzen <ahayzen@gmail.com>
#
# SPDX-License-Identifier: MPL-2.0

import "/etc/caddy/sites/*.Caddyfile"

# Actual proxy
http://actual.ahayzen.com {
    reverse_proxy rathole:8506
}

# Bitwarden proxy
http://bitwarden.ahayzen.com {
    reverse_proxy rathole:8080
}

# # Video proxy
# video.ahayzen.com {
#     reverse_proxy localhost:9888
# }
