# SPDX-FileCopyrightText: Andrew Hayzen <ahayzen@gmail.com>
#
# SPDX-License-Identifier: MPL-2.0

import "/etc/caddy/sites/*.Caddyfile"

#
# Note that sub domains require a A or CNAME record in the DNS
#
# eg actual IN CNAME ahayzen.com.
#

# Actual proxy
actual.ahayzen.com {
    reverse_proxy rathole:8506
}

# Bitwarden proxy
bitwarden.ahayzen.com {
    reverse_proxy rathole:8080
}

# DSAudio proxy
dsaudio.ahayzen.com {
    reverse_proxy https://rathole:8801 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

# DSVideo proxy
dsvideo.ahayzen.com {
    reverse_proxy https://rathole:8808 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}
