# SPDX-FileCopyrightText: Andrew Hayzen <ahayzen@gmail.com>
#
# SPDX-License-Identifier: MPL-2.0

# ahayzen.com site
ahayzen.com www.ahayzen.com {
    # Flathub stats data
    handle_path /direct/* {
        root * /srv/flathub_stats/
        file_server
    }

    # Wagtail media files
    handle_path /media/* {
        root * /srv/wagtail-ahayzen/media/
        file_server
    }

    # Wagtail static files
    handle_path /static/* {
        root * /srv/wagtail-ahayzen/static/
        file_server
    }

    # Anything else goes to wagtail
    handle {
        reverse_proxy wagtail-ahayzen:8080
    }
}

# Bitwarden proxy
bitwarden.ahayzen.com {
    reverse_proxy ahayzen.com:9821
}

# Video proxy
video.ahayzen.com {
    reverse_proxy https://ahayzen.com:9888
}

# yumekasaito.com site
yumekasaito.com www.yumekasaito.com {
    # Wagtail media files
    handle_path /media/* {
        root * /srv/wagtail-yumekasaito/media/
        file_server
    }

    # Wagtail static files
    handle_path /static/* {
        root * /srv/wagtail-yumekasaito/static/
        file_server
    }

    # Anything else goes to wagtail
    handle {
        reverse_proxy wagtail-yumekasaito:8080
    }
}
