# SPDX-FileCopyrightText: Andrew Hayzen <ahayzen@gmail.com>
#
# SPDX-License-Identifier: MPL-2.0

#
# Global configuration
#

{
    import "/etc/caddy/global/*.Caddyfile"
}

#
# Other imports
#

import "/etc/caddy/sites/*.Caddyfile"
