# SPDX-FileCopyrightText: Andrew Hayzen <ahayzen@gmail.com>
#
# SPDX-License-Identifier: MPL-2.0

http://home.hayzen.uk {
    # Actual proxy
    handle_path /actual/* {
        reverse_proxy rathole:8506
    }

    # Bitwarden proxy
    handle_path /bitwarden/* {
        reverse_proxy rathole:8080
    }

    # Immich proxy
    handle_path /immich/* {
        reverse_proxy rathole:8301
    }
}
