# SPDX-FileCopyrightText: Andrew Hayzen <ahayzen@gmail.com>
#
# SPDX-License-Identifier: MPL-2.0

# ahayzen.com site
ahayzen.com www.ahayzen.com {
	reverse_proxy localhost:8080

    # Flathub stats data
    file_server /direct/* {
        root /srv/flathub_stats/
    }

    # Wagtail media files
    file_server /media/* {
        root /srv/wagtail-ahayzen/media/
    }

    # Wagtail static files
    file_server /static/* {
        root /srv/wagtail-ahayzen/static/
    }
}

# Bitwarden proxy
bitwarden.ahayzen.com {
    reverse_proxy localhost:9001
}

# Video proxy
video.ahayzen.com {
    reverse_proxy localhost:9888
}
