# SPDX-FileCopyrightText: Andrew Hayzen <ahayzen@gmail.com>
#
# SPDX-License-Identifier: MPL-2.0

name: renovate docker-compose

on:
  # Note: Use renovate bot for now but allow for manual runs
  #
  # schedule:
  #   # Note this is in UTC
  #   #
  #   # 2200 is 0700 in Japan and 2200 or 2300 in UK so has minimal impact
  #   #
  #   # Run a few times in the hour so that we attempt to resolve any rebases
  #   # or land multiple commits
  #   - cron: '29,44,59 22 * * *'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.2

      - id: generate-token
        uses: actions/create-github-app-token@v2.2.1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v46.0.0
        with:
          configurationFile: .github/workflows/renovate-self-host.js
          token: ${{ steps.generate-token.outputs.token }}
        env:
          LOG_LEVEL: 'debug'
